body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 50vw;
}

#board {
    width: 400px;
    height: 400px;

    background-color: #cdc1b5;
    border: 0.5vw solid #bbada0;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.bloco {
    width: 90px;
    height: 90px;
    border: 5px solid #bbada0;

    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b2 {
    background-color: #eee4da;
    color: #727371;
}

.b4 {
    background-color: #ece0ca;
    color: #727371;
}

.b8 {
    background-color: #f4b17a;
    color: #fff;
}

.b16 {
    background-color: #f59575;
    color: #fff;
}

.b32 {
    background-color: #f57c5f;
    color: #fff;
}

.b64 {
    background-color: #f65d3b;
    color: #fff;
}

.b128 {
    background-color: #edce71;
    color: #fff;
}

.b256 {
    background-color: #edcc63;
    color: #fff;
}

.b512 {
    background-color: #edc651;
    color: #fff;
}

.b1028 {
    background-color: #eec744;
    color: #fff;
}

.b2048 {
    background-color: #ecc230;
    color: #fff;
}

.b4096 {
    background-color: #323331;
    color: #fff;
}

.b8192 {
    background-color: #121233;
    color: #dd99dd;
}